# Analytics
NEXT_PUBLIC_GA_ID=

# Google Search Console verification token
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=

# AdSense (set to 'false' to disable AdSense script in development)
NEXT_PUBLIC_ADSENSE_SCRIPT_ENABLED=true
